  <app-nav></app-nav> 
     
  <div class="container">
    <div class="row">
      
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="box">
        <div class="col-md-4">
          <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.4s">
                
                         
            
            
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="1.0s">
           
           
           
           
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="1.6s">
          
           
           
          </div>
          
        </div>
        
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="text-center">
          
        </div>
        <hr>
      </div>
    </div>
  </div>
  
  <div class="content">
    <div class="grid">
      <figure class="effect-zoe">
        <img src="assets/img/dogs.jpg" alt="img25"/>
        <figcaption>
          <h2>Do <span>gs</span></h2>
         
          <p class="description"> </p>
        </figcaption>     
      </figure>
      <figure class="effect-zoe">
        <img src="assets/img/birds.jpg" alt="img26"/>
        <figcaption>
          <h2>Title <span>Name</span></h2>
         
          <p class="description"></p>
        </figcaption>     
      </figure>
    </div>
  </div>
  
  <div class="content">
    <div class="grid">
      <figure class="effect-zoe">
        <img src="assets/img/cats.jpg" alt="img27"/>
        <figcaption>
          <h2>Title <span>Name</span></h2>

          <p class="description"> </p>
        </figcaption>     
      </figure>
      <figure class="effect-zoe">
        <img src="assets/img/rats.jpg" alt="img30"/>
        <figcaption>
          <h2>Title <span>Name</span></h2>
          
          <p class="description"></p>
        </figcaption>     
      </figure>
    </div>
  </div>